---
version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    versioning-strategy: "lockfile-only"
    labels:
      - "dependencies"
      - "docker"
      - "patch-update"
